.fonas{
    background-color: aqua;
   

}

.container {
    width: 50%;
    height: 50%;
    background-color: white;
    border: 2px solid black;
    margin-top: 100px;
}

#deleteChekedRowsBtn{
    background-color: #0d6efd;
    color: #fff;
    display: flex; 
    
}

.li{
   /* padding: 5px 50px;*/
    background-color: rgb(245, 248, 247);
    margin:  5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    width: 90%;
    text-transform: capitalize;
    /*
    text-decoration: line-through;  */
   
    
}
.chechBoxInput{
 order: -1;
 align-items: center;
}


.text{
 text-decoration: line-through;
}


